<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>메인</title>
</head>
<body>
<h3 th:text="${msg}"></h3>
<!--  location.href -> get -> get /logout  -->
<div>
  <img width="240" height="180" th:src="@{'/upload/'+${img}}">
</div>
<button onclick="location.href = '/logout'">로그아웃</button>
<!-- 메모 폼 -->
<div>
  <br>
  <form method="post" action="/memo">
    <div>
      <textarea name="text"></textarea>
    </div>
    <div>
      <button>메모 작성</button>
    </div>
  </form>
</div>
<!-- 메모 리스트 -->
<ul th:each="m : ${memo}">
  <li th:text="${m.text}"></li>
</ul>
</body>
</html>