<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>회원 탈퇴</h1>
  <p>정말로 회원 탈퇴하시겠습니까?</p>
  <form th:action="@{/profile/delete}" method="post">
    <button type="submit" class="btn btn-danger">회원 탈퇴</button>
  </form>
</div>
</body>
</html>